<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnBoarding</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnBoarding.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-menu">
            <a class="navbar-brand" href="#">
                <div id="logo-picture"></div>
                <div id="logo-name"><h4>Продукт</h4></div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Quests", "Home")">Квесты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Таблица лидеров</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Документация</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Users")">Список пользователей</a>
                    </li>
                </ul>
                <div class="form-inline">
                    <button type="button" class="btn btn-modal m-2" data-toggle="modal" data-target="#logInModal">Войти</button>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="myFooter">
        <div class="m-4">
            <div class="links-in-footer">
                <a>Контакты</a>
            </div>
            <div class="links-in-footer">
                <a>Партнёрам</a>
            </div>
            <div class="links-in-footer">
                <a>Помощь</a>
            </div>
            <div class="links-in-footer">
                <a>FAQ</a>
            </div>
            <div class="links-in-footer">
                <a>Telegram</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <form method="post" action="/Authorize/Auth">
        <div class="modal fade" id="logInModal" tabindex="-1" role="dialog" aria-labelledby="logInModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="logInModalLabel">Добро пожаловать</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="email-for-login" class="col-form-label">Email:</label>
                            <input type="email" name="email" class="form-control" id="email-for-login">
                        </div>
                        <div class="mb-3">
                            <label for="pswd-for-login" class="col-form-label">Password:</label>
                            <input type="password" name="password" class="form-control" id="pswd-for-login">
                        </div>

                        <div class="mb-3 d-flex justify-content-center">
                            <p class="mx-1">Нет аккаунта?</p>
                            <a class="pointerCursor link-without-hover" data-dismiss="modal" data-toggle="modal" data-target="#registerModal"><b>Зарегистрироваться</b></a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-modal">Войти</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form method="post" action="/Authorize/Register">
        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registerModalLabel">Регистрация</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="email-for-register" class="col-form-label">Email:</label>
                            <input name="email" type="email" class="form-control" id="email-for-register">
                        </div>
                        <div class="mb-3">
                            <label for="pswd-for-register" class="col-form-label">Password:</label>
                            <input name="password" type="password" class="form-control" id="pswd-for-register">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-modal">Зарегистрироваться</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>

<style>
    

</style>