@{
    ViewData["Title"] = "Home Page";
}

<div class="backImg">
    <img src="~/img/Novyykholst3ispravleno.png" style="width: 30%; height: 30%">
</div>

<style>
    .backImg{
        background-image: url("../img/BackMainImg.png")
    }
</style>