@{
    ViewData["Title"] = "Home Page";
}

@*<div class="container-fluid">
    <div class="row">
        <iframe width="2040" height="615" src="https://www.youtube.com/embed/q7wpD0r5Jis?&autoplay=1&loop=1" ></iframe>
    </div>
</div>*@